<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/1_03_Data Types.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## ðŸŸ© Check Data Type (1.3.1)

In [1]:
# Code Needed
job_title = 'Data Scientist'
type(job_title)

str

---

## ðŸŸ© Check Float Type (1.3.2)

In [2]:
# Code Needed
salary = 85000.50
type(salary)

float

---

## ðŸŸ¨ Convert to Integer (1.3.3)

In [7]:
# Code Needed
salary_rate = 120000.75
salary_rate=int(salary_rate)
type(salary_rate)
salary_rate

120000

---

## ðŸŸ¥ Check String Type (1.3.4)

In [4]:
# Code Needed
company_name = 'DataWiz Inc.'
type(company_name)

str

---