<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/1_08_Lists.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## ðŸŸ© Access Second Job Title (1.8.1)

In [1]:
# Code Needed
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']
job_titles[1]

'Data Analyst'

---

## ðŸŸ© Change Third Job Title (1.8.2)

In [2]:
# Code Needed
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']
job_titles[2]='ML Eng'
job_titles

['Data Scientist', 'Data Analyst', 'ML Eng']

---

## ðŸŸ© Slice Job Titles List (1.8.3)

In [6]:
# Code Needed
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer', 'Data Engineer']
job_titles[0:3:2]

['Data Scientist', 'Machine Learning Engineer']

---

## ðŸŸ¨ Append Job Title (1.8.4)

In [7]:
# Code Needed
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']
job_titles.append('Data Engineer')
job_titles

['Data Scientist',
 'Data Analyst',
 'Machine Learning Engineer',
 'Data Engineer']

---

## ðŸŸ¨ Insert Job Title (1.8.5)

In [12]:
# Code Needed
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']
job_titles.insert(2,'Web Designer')
job_titles

['Data Scientist', 'Data Analyst', 'Web Designer', 'Machine Learning Engineer']

---