<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/1_09_Dictionaries.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## ðŸŸ© Access Job Postings (1.9.1)

In [5]:
# Code Needed
job_postings = {'Data Scientist': 120, 'Data Analyst': 80, 'Machine Learning Engineer': 50}
job_postings.keys()
job_postings.values()
job_postings.get('Data Analyst')

80

---

## ðŸŸ© Add Job Role (1.9.2)

In [6]:
# Code Needed
job_postings = {'Data Scientist': 120, 'Data Analyst': 80, 'Machine Learning Engineer': 50}
job_postings['Data Eng']=40
job_postings

{'Data Scientist': 120,
 'Data Analyst': 80,
 'Machine Learning Engineer': 50,
 'Data Eng': 40}

---

## ðŸŸ¨ Remove Job Role (1.9.3)

In [8]:
# Code Needed
job_postings = {'Data Scientist': 120, 'Data Analyst': 80, 'Machine Learning Engineer': 50}
job_postings.pop('Data Analyst')
job_postings

{'Data Scientist': 120, 'Machine Learning Engineer': 50}

---

## ðŸŸ¨ Merge Dictionaries (1.9.4)

In [14]:
# Code Needed
job_postings1 = {'Data Scientist': 120, 'Data Analyst': 80}
job_postings2 = {'Machine Learning Engineer': 50, 'AI Specialist': 30}

job_postings1.update(job_postings2)
print(job_postings1)

{'Data Scientist': 120, 'Data Analyst': 80, 'Machine Learning Engineer': 50, 'AI Specialist': 30}

---

## ðŸŸ¥ Create Nested Dictionary (1.9.5)

In [17]:
job_postings1 = {
    'Data Scientist': 120,
    'Data Analyst': 80,
    'Job Roles':{
     'Machine Learning Engineer': 50,
     'AI Specialist': 30
     }
                 }
job_postings1

{'Data Scientist': 120,
 'Data Analyst': 80,
 'Job Roles': {'Machine Learning Engineer': 50, 'AI Specialist': 30}}

---