<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/1_10_Sets.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## ðŸŸ© Add Job Title to Set (1.10.1)

In [2]:
# Code Needed
unique_job_titles = {'Data Scientist', 'Data Analyst', 'Machine Learning Engineer'}
unique_job_titles.add('Data Engineer')
unique_job_titles

{'Data Analyst',
 'Data Engineer',
 'Data Scientist',
 'Machine Learning Engineer'}

---

## ðŸŸ© Remove Job Title from Set (1.10.2)

In [6]:
# Code Needed
unique_job_titles = {'Data Scientist', 'Data Analyst', 'Machine Learning Engineer'}
unique_job_titles.pop()
unique_job_titles

{'Data Scientist', 'Machine Learning Engineer'}

---

## ðŸŸ© Create Unique Job Locations Set (1.10.3)

In [11]:
# Code Needed
job_locations = ['New York', 'San Francisco', 'New York', 'Austin', 'San Francisco']
job_loc_set=set(job_locations)
job_loc_set

{'Austin', 'New York', 'San Francisco'}

---

## ðŸŸ¨ Union of Job Skills Sets (1.10.4)

In [12]:
# Code Needed
skills_set1 = {'Python', 'SQL', 'Tableau'}
skills_set2 = {'R', 'SQL', 'Machine Learning'}
skills_set=skills_set1.union(skills_set2)
skills_set

{'Machine Learning', 'Python', 'R', 'SQL', 'Tableau'}

---