<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/1_11_Tuples.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## ðŸŸ© Access Job Role (1.11.1)

In [4]:
# Code Needed
job_roles = ('Data Scientist', 'Data Analyst', 'Machine Learning Engineer')
job_roles[1:3]

('Data Analyst', 'Machine Learning Engineer')

---

## ðŸŸ¨ Add Job Role to Tuple (1.11.2)

In [12]:
# Code Needed
job_roles = ('Data Scientist', 'Data Analyst', 'Machine Learning Engineer')
print(id(job_roles))
job_roles=('Data Scientist', 'Data Analyst', 'Machine Learning Engineer','Data Eng')
print(id(job_roles))

136813342567488
136814104128992

---

## ðŸŸ¨ Remove Job Role from Tuple (1.11.3)

In [14]:
# Code Needed
job_roles = ('Data Scientist', 'Data Analyst', 'Machine Learning Engineer')
job_roles = ('Data Scientist', 'Data Analyst')
job_roles

('Data Scientist', 'Data Analyst')

---

## ðŸŸ¨ Unpack Job Postings Tuple (1.11.4)

In [34]:
# Code Needed
job_postings = (120, 80, 50)
for i in job_postings:
  print(i)

SyntaxError: incomplete input (<ipython-input-34-a232e1cddd1f>, line 3)

---

## ðŸŸ¥ Extract Nested Value from Tuple (1.11.5)

In [32]:
# Code Needed
job_details = (('Data Scientist', 120), ('Data Analyst', 80), ('Machine Learning Engineer', 50))
job_details.__getitem__(0)

('Data Scientist', 120)

---