<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/1_14_List Comprehensions.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

In [76]:
# Define data science job roles and required skills
job_roles = [
    {'role': 'Data Analyst', 'skills': ['Python', 'SQL', 'Excel']},
    {'role': 'Data Scientist', 'skills': ['Python', 'R', 'Machine Learning', 'Deep Learning']},
    {'role': 'Machine Learning Engineer', 'skills': ['Python', 'TensorFlow', 'PyTorch', 'Scikit-Learn']},
    {'role': 'Data Engineer', 'skills': ['Python', 'Apache Spark', 'Hadoop', 'SQL']},
    {'role': 'Business Intelligence Analyst', 'skills': ['Python', 'SQL', 'Tableau', 'Power BI', 'Excel']},
    {'role': 'Quantitative Analyst', 'skills': ['R', 'Python', 'MATLAB', 'Statistics']},
    {'role': 'Operations Analyst', 'skills': ['Python', 'SQL', 'Data Visualization', 'Process Improvement']},
    {'role': 'Database Administrator', 'skills': ['SQL', 'Oracle', 'MySQL', 'Database Management']},
    {'role': 'AI Engineer', 'skills': ['Python', 'TensorFlow', 'PyTorch', 'Computer Vision']},
    {'role': 'Statistician', 'skills': ['R', 'SAS', 'Python', 'Statistical Modeling']}
]
# My skills
my_skills = ['Python', 'SQL', 'Excel']
d_job_roles={}
for i in job_roles:
  d_job_roles.update({i['role']:i['skills']})
# d_job_roles
# print (f"\n {list(d_job_roles.values())}")

## ðŸŸ© Convert Salaries to EUR (1.14.1)

In [16]:
# Code Needed
salaries_usd = [100000, 120000, 80000, 90000]
salaries_eu=[(x*0.95) for x in salaries_usd]
salaries_eu

[95000.0, 114000.0, 76000.0, 85500.0]

---

## ðŸŸ¨ Create List of Data Jobs (1.14.2)

In [25]:
# Code Needed
job_experience = {'Data Scientist': 3, 'Data Analyst': 1, 'Machine Learning Specialist': 4, 'Data Engineer': 2}
job_experience_list=[x for x in job_experience.keys()]
job_experience_list

['Data Scientist',
 'Data Analyst',
 'Machine Learning Specialist',
 'Data Engineer']

---

## ðŸŸ¥ Extract High Salary Jobs (1.14.3)

In [58]:
# Code Needed
job_salary_dicts = [{'job_title': 'Data Scientist', 'salary': 100000}, {'job_title': 'Data Analyst', 'salary': 120000}, {'job_title': 'Data Engineer', 'salary': 80000}, {'job_title': 'Machine Learning Engineer', 'salary': 90000}]
# d={}
# for i in job_salary_dicts:
#   d.update({i['job_title']:i['salary']})
# for key, value in d.items():
#   if value>100000:
#     print(key)

d={i['job_title']:i['salary'] for i in job_salary_dicts}
result=[key for key,value in d.items() if value>100000]
result

['Data Analyst']

---